# Project dependencies
streamlit
pandas
python-dotenv
openai
neo4j
sentence-transformers
chromadb
groq
ragas
datasets
langchain-openai
langchain-groq
langchain-huggingface
openpyxl
torch
torchvision
protobuf==3.20.3

